#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <LWR RSE>;
            then-layer = <ADJ>;
        };
    };

    behaviors {
        layers_behavior: layers_behavior {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYERS_BEHAVIOR";
            #binding-cells = <0>;
            bindings =
                <&mo 3>,
                <&tog 1>,
                <&sl 4>;
        };
        delBackspace_behavior: delBackspace_behavior {
            compatible = "zmk,behavior-mod-morph";
            label = "DELBACKSPACE_BEHAVIOR";
            bindings =
                <&kp DEL>,
                <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
      &kp ESC  &kp N1    &kp N2    &kp N3            &kp N4        &kp N5                                             &kp N6       &kp N7     &kp N8     &kp N9    &kp N0   &kp BSPC
    &kp GRAVE   &kp Q     &kp W     &kp E             &kp R         &kp T                                              &kp Y        &kp U      &kp I      &kp O     &kp P  &kp MINUS
      &kp DEL   &kp A     &kp S     &kp D             &kp F         &kp G                                              &kp H        &kp J      &kp K      &kp L  &kp SEMI    &kp SQT
&kp BACKSPACE   &kp Z     &kp X     &kp C             &kp V         &kp B                                              &kp N        &kp M  &kp COMMA    &kp DOT  &kp FSLH   &kp BSLH
                       &kp LBKT  &kp RBKT                                                                                                   &kp PLUS  &kp EQUAL
                                           &layers_behavior     &kp SPACE                                          &kp SPACE  &lt 1 ENTER
                                                             &mt LALT TAB  &mt LEFT_SHIFT CAPS  &kp LEFT_SHIFT     &kp LCTRL
                                                             &kp LEFT_WIN            &kp LCTRL        &kp LALT  &kp LEFT_WIN
            >;
        };

        lower_layer {
            bindings = <
&kp F12  &kp F1           &kp F3         &kp F3          &kp F4       &kp F5                          &kp F6          &kp F7        &kp F8           &kp F9  &kp F10        &kp F11
 &trans  &trans           &trans         &trans          &trans       &trans                          &trans          &trans        &trans           &trans   &trans    &kp PAGE_UP
 &trans  &trans  &kp PRINTSCREEN         &trans          &trans       &trans                  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW   &trans  &kp PAGE_DOWN
 &trans  &trans        &kp K_CUT     &kp K_COPY  &kp C_AC_PASTE  &kp K_PASTE                          &trans          &trans        &trans           &trans   &trans          &to 2
                    &kp C_AC_CUT  &kp C_AC_COPY                                                                                   &kp HOME          &kp END
                                                         &trans       &trans                          &trans          &trans
                                                                      &trans  &trans  &trans          &trans
                                                                      &trans  &trans  &trans          &trans
            >;
        };

        mouse_move_layer {
            bindings = <
&none  &none          &none            &none            &none  &none                          &none            &none            &none            &none  &none  &none
&none  &none  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_SUBTRACT  &none                          &none  &kp KP_NUMBER_7  &kp KP_NUMBER_9            &none  &none  &none
&none  &none          &none            &none  &kp KP_NUMBER_5  &none                &kp KP_NUMBER_4  &kp KP_NUMBER_2  &kp KP_NUMBER_8  &kp KP_NUMBER_6  &none  &none
&none  &none          &none            &none            &none  &none                          &none  &kp KP_NUMBER_1  &kp KP_NUMBER_3            &none  &none  &none
                      &none            &none                                                                          &kp KP_NUMBER_0            &none
                                                        &none  &none                          &none            &to 0
                                                               &none  &none  &none            &none
                                                               &none  &none  &none            &none
            >;
        };

        system_layer {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none                &none  &none  &none  &none  &kp C_RESET  &kp C_POWER
     &none         &none         &none         &none         &none  &none                &none  &none  &none  &none        &none  &kp C_RESET
     &none         &none         &none         &none         &none  &none                &none  &none  &none  &none        &none  &kp C_SLEEP
     &none         &none         &none         &none         &none  &none                &none  &none  &none  &none        &none        &none
                                 &none         &none                                                   &none  &none
                                                             &none  &none                &none  &none
                                                                    &none  &none  &none  &none
                                                                    &none  &none  &none  &none
            >;
        };

        command_layer {
            bindings = <
&none  &kp LA(F1)  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none
&none       &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none
&none       &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none
&none       &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none
                   &none  &none                                            &none  &none
                                 &none  &none                &none  &none
                                        &none  &none  &none  &none
                                        &none  &none  &none  &none
            >;
        };
    };
};
